.calendar-header-container {
    text-align: left;
    font-weight: 1000;
    margin: auto;
}

#calender-header {
    text-align: left;
    font-size: 150%;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


