

.image {
    width: 100%;
}

.event-title {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    float: right;
}

.artist {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
}

.date {
    font-weight: bold;
    margin-right: 2px;
    padding-left: 10px;
}

.event-description {
    font-size: 0.8em;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    float: right;

}

.time {
    font-weight: bold;
    margin-right: 2px;
    padding-left: 15px;
}

.price {
    font-weight: bold;
    margin-right: 2px;
    padding-left: 15px;
}

.button-container {
    width: 100%;
    height: 35vh;
    background-color: lightgrey;
    margin-top: 15px;
}

.ticket-button {
    color: white;
    background-color: #009973;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 15px;
    font-size: 16px;
}

.details-button {
    color: white;
    background-color: #994d00;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 8px;
    font-size: 16px;
}