.log-container{
    width: 60%;
    margin: auto;
    background-color: white;
    color: black;
}

input {
    border: 2px solid black;
    box-sizing: border-box;
}

.login-button {
    color: white;
    background-color: #009973;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
}

.register-button {
    color: white;
    background-color: #994d00;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
}