.log-container{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    align-content: center;
}

input {
    border: 2px solid black;
    box-sizing: border-box;
}

.login-button {
    color: white;
    background-color: #009973;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
}

.register-button {
    color: white;
    background-color: #994d00;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
}