.header-container {
    width: 100%;
    text-align: left;
    padding-top: 5px;
    
}

.logo {
    height: 65px;
    width: 65px;
    padding-left: 25px;
}

.menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
}