.header-container {
    width: 100%;
    text-align: left;
    padding-top: 5px;
    color: white;
}

.logo {
    height: 65px;
    width: 65px;
    padding-left: 25px;
}

.menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    color: white;
}

.search-box-container {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

#home-link {
    color: white;
    text-decoration: none;
    /* border-right: 2px solid white; */
}

#info-link {
    color: white;
    text-decoration: none;
}

#faq-link {
    color: white;
    text-decoration: none;
}

#cart-link {
    color: white;
    text-decoration: none
}