@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slide-container {
    height: 100%;
    width: 100%;
    margin: auto;
}

.slide {
    height: 30%;
    width: 100%;
    margin: auto;
    padding: 10px 15px;

}

