@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slide-container {
    height: 75vh;
    width: 100%;
    margin: auto;
    background-color:rgb(219, 208, 208);
}

.slide {
    height: 40%;
    width: 100%;
    margin: auto;

}


