@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slide-container {
    height: 75vh;
    width: 100%;
    margin: auto;
    background-color: lightgray;
}

.slide {
    height: 40%;
    width: 100%;
    margin: auto;

}

.slide-1 {
    height: 400px;
    width: 100%;
    margin: auto;
}

.slide-3 {
    height: 400px;
    width: 100%;
    margin: auto;
}

.slide-4 {
    height: 400px;
    width: 100%;
    margin: auto;
}

.slide-5 {
    height: 400px;
    width: 100%;
    margin: auto;
}

